@charset "UTF-8";
@font-face{
	font-family: Imprima;
	src: url(fonts/Imprima.ttf);
}
@font-face{
	font-family: Pacifico;
	src: url(fonts/Pacifico.ttf);
}

body {
	padding: 0px;
	margin: 0px;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
  background-color: white;
	height: 100%;
}

header {
	color: black;
	text-align: center;
	font-size: 35px;
	border-bottom: 2px solid black;
	padding-bottom: 20px;
	margin-bottom: 20px;
	width: 1920px;
}

header h1 {
	font-size: 52px;
	display: inline-block;
	margin: 0px;
	margin-top: 20px;
	font-family: Pacifico;
}

header h4 {
	font-size: 22px;
	display: block;
	margin: 0;
	margin-top: -25px;
	margin-left: 1060px;
	font-family: Imprima;
	font-style: italic;
	text-align: left;
}

header h4:before {
	content: ">";
}

#logo {
	display: inline-block;
	position: absolute;
	left: 0px;
	margin-top: 6px;
	margin-left: 56px;
}
#logo a:link {
 	text-decoration:none;
 	color:black;
}
#logo a:visited {
	color:white;
}

@keyframes anim_big {
	33% {transform: rotate(1deg);}
	66% {transform: rotate(-1deg);}
}
#logo:hover {
	animation: anim_big 0.1s infinite;
}

#map-canvas-uniq {
  display: inline-block;
  width: 1000px;
  height: 600px;
  background-color: #CCC;
	margin-top: 10px;
}

#map_collection {
	display: inline-block;
	width: 1300px;
	margin-top: -14px;
}

#map_collection figure {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#map_collection figcaption {
	font-size: 12px;
	font-family: Imprima;
	text-align: center;
}

.maps {
	display: inline-block;
  width: 300px;
  height: 300px;
  background-color: #CCC;
	margin-top: 10px;
	margin-left: 10px;
}

section {
	display: inline-block;
  width: 960px;
  height: 543px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-left: 180px;
	font-family: Imprima;
	border: 1px dotted #EFEFEF;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	box-shadow: 4px 4px 2px 0px #BBB;
	overflow-y: auto;
}

section h3 {
	margin: 0;
	padding: 0;
	font-size: 22px;
}

section li {
	font-size: 18px;
}

nav {
  display: inline-block;
  width: 410px;
  margin-left: 90px;
	margin-right: 100px;
  float: left;
}

nav h3 {
	font-family: Imprima;
	font-size: 32px;
	letter-spacing: 6px;
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
}

nav ul, nav li, nav a {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: black;
}

nav > ul {
	border: 1px solid hsla(282, 25%, 30%, 1);
	box-shadow: 0px 1px 6px 0px hsla(282, 25%, 50%, 1);
}

/* separation du menu (principal) */
nav > ul > li + li {
	border-top: 1px solid black;
}
/* separation du menu (sous-menu lieux) */
nav #sous_menu_lieux > li {
	border-top: 1px solid black;
}

/* liens du menu (general) */
nav ul > li > a {
	display: inline-block;
	padding-left: 12px;
	font-family: Imprima;
	color: hsla(282, 25%, 10%, 1);
	background-color: hsla(282, 60%, 100%, 1);
}
nav ul > li > a:hover {
	color: hsla(282, 60%, 95%, 1);
	background-color: hsla(282, 25%, 50%, 1);
	box-shadow: inset 0px 8px 14px -10px white;
}
/* liens du menu (principal) */
nav > ul > li > a {
	height: 43px;
	padding-top: 8px;
	font-size: 30px;
	width: 396px;
}
/* liens du menu (sous-menu lieux) */
nav #sous_menu_lieux > li > a {
	height: 29px;
	padding-top: 6px;
	font-size: 20px;
	width: 390px;
}

/* sous-menu lieux */
nav #sous_menu_lieux {
	height: 0px;
	overflow: hidden;
	border-left: 8px solid hsla(282, 25%, 50%, 1);
}
nav > ul > li:nth-child(3):hover > a {
	color: hsla(282, 60%, 95%, 1);
	background-color: hsla(282, 25%, 50%, 1);
	box-shadow: inset 0px 8px 14px -10px white;
}
nav > ul > li:nth-child(3):hover #sous_menu_lieux {
	height: auto;
}

/* icons du menu (general) */
nav ul > li > a > img {
	margin-right: 12px;
	float: left;
}
/* icons du menu (principal) */
nav > ul > li > a > img {
	width: 30px;
	margin-top: 2px;
}
/* icons du menu (sous-menu lieux) */
nav #sous_menu_lieux > li > a > img {
	width: 24px;
}

#main {
	min-height: 100%;
	margin: 0 auto 46px;
}

footer {
	text-align: center;
	border-top: 2px solid hsla(282, 25%, 0%, 1);
	font-family: Imprima;
	font-size: 20px;
	height: 63px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: white;
}

footer a {
	color: black;
	text-decoration: none;
}

footer a:hover {
	border-bottom: 2px solid hsla(282, 25%, 50%, 1);
}
